<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
</head>

<body style="background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
">
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>Register</h2>
                <div class="underline-title"></div>
            </div>
            <form method="POST" class="form" action="/register">
                <label for="user-name" style="padding-top:13px">
                    &nbsp;Name
                </label>
                <input id="user-name" class="form-content" type="text" name="name" autocomplete="on" required />

                <div class="form-border"></div>
                <label for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" class="form-content" type="email" name="username" autocomplete="on" required />
                <div class="form-border"></div>
                <label for="user-password" style="padding-top:22px">&nbsp;Password
                </label>
                <input id="user-password" class="form-content" type="password" name="password" required />
                <div class="form-border"></div>

                <button id="submit-btn" type="submit">Register</button>
                <!-- <input id="submit-btn" type="submit" name="submit" value="LOGIN" /> -->
                <a href="/login" id="signup">Go back to login</a>
            </form>
        </div>
    </div>
</body>

</html>